<br><br><br><br><br><br>
<div class="container">
  <h2>Task Statistics</h2>
  <div class="statistics">
      <div class="statistic-card1">
          <h3>To Do</h3>
          <h1>{{ todoCount }}</h1>
      </div>
      <div class="statistic-card2">
          <h3>In Progress</h3>
          <h1>{{ inProgressCount }}</h1>
      </div>
      <div class="statistic-card3">
          <h3>Review</h3>
          <h1>{{ reviewCount }}</h1>
      </div>
      <div class="statistic-card4">
          <h3>Done</h3>
          <h1>{{ doneCount }}</h1>
      </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

   